<div>
	<div class="form-group">
		<label for="name">Nom du favori</label>
		{{input value=name class="form-control" id="name" placeholder="Nom du favori"}}
	</div>

	{{view App.MapWithCoordinatesView latitude=latitude longitude=longitude address=address}}

	<div class="topped-20">
		<button class="btn btn-success" {{action 'save'}}>Sauvegarder</button>
		<button class="btn btn-danger" {{action 'delete'}}>Supprimer</button>
	</div>
</div>