<h3 class="text-center">A propos</h3>

<p class="text-center">
	Amabus a été crée par Labrush utilise les données du réseau transisère pour vous conseiller
</p>

<div class="row">
	<h3 class="text-center">Codé par Adrien Bocquet</h3>

	<p class="text-center col-md-5 col-md-offset-3">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, reiciendis, aliquid, quis delectus pariatur maiores molestiae praesentium illo consectetur dicta deleniti reprehenderit minus dolores earum quas voluptatum necessitatibus impedit eaque.
	</p>

	<div class="col-md-2">
		<p class="text-center">
			Plus d'infos sur
		</p>
		<ul>
			<li><a href="https://twitter.com/adrienbocquet">Twitter</a></li>
			<li><a href="https://github.com/alphindia">Github</a></li>
		</ul>
	</div>
</div>

<p class="text-center"><strong>Amabus V 3.0.0 alpha</strong></p>