

	<p class="text-center">
		Aucune synchronisation n'est activée. Vos informations sont stockées sur votre appareil. <br><br>
		Pour les synchroniser <br>
		<a class="btn btn-primary" href="/auth/facebook">connectez-vous via Facebook</a>
	</p>

