<p>Aucune synchronisation n'est activée. Vos informations sont stockées sur votre appareil. 
	<br>Pour les synchroniser, connectez vous via
	<ul>
		<li>Facebook</li>
		<li>Twitter</li>
		<li>Le Kub</li>
	</ul>
</p>