<p class="text-center">
	Aucune synchronisation n'est activée. Vos informations sont stockées sur votre appareil. <br><br>
	Pour les synchroniser <br>
	<button class="btn btn-primary">connectez-vous via Facebook</button>
</p>